/* Global Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-lightLightPink;
}

/* Portfolio section */
.portfolio-item img {
  width: 100%;
  height: auto;
}

/* Contact Section */
form {
  max-width: 600px;
  margin: 0 auto;
}